backend/**/__pycache__/
backend/.venv
backend/.python-version
backend/.env

frontend/node_modules
frontend/.tanstack

.vscode/*
!.vscode/extensions.json
.idea
.zed/

backend/xview2_vector_db/
backend/standalone-scripts/extracted_files/
pyrightconfig.json
